<header>
	<h2><<< VHS Video Finder!</h2>
</header>

<div class="details-wrapper">
	<img src="<%= @poster %>" alt="Poster">

	<div class="details">
		<h1 class="title"><%= @movie_title %></h1>
		<h2>Directed by <%= @director %></h2>

		<h3 class="genre"><%= @genre %></h3>
		<h3 class="year"><%= @year %></h3>
		
		<p><%= @plot %></p>
	</div>

	<a class="home" href="/"> <<< home</a>
</div>



